html, body, section,
div.layout {
    display: block;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

div {
    display: block;
    margin: 0;
    padding: 0;
}

button {
    display: block;
    margin: 0;
    padding: 0;
}

* {
    font: inherit;
    vertical-align: baseline;
    text-shadow:0 0 ;
}
body, input, select, textarea, button, .ui-btn {
    font-family: sans-serif;
    font-family: "\5FAE\8F6F\96C5\9ED1", arial, sans-serif;
    line-height: 1.5em;
}

input:focus {
    -webkit-focus-ring-color: rgba(0, 0, 0, 0);
    -webkit-user-modify: read-write-plaintext-only;
}

h1, h2, h3, h4, h5, h6, ul, li, img{
    margin: 0;
    padding: 0;
    display: block;
    box-sizing: border-box;
}

a:link {
    text-decoration: none;
}
a:visited {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
a:active {
    text-decoration: none;
}
h1, .h1{
    font-size: 1.285em !important;
    font-weight: bold;
}
h2, .h2{
    font-size: 1.142em !important;
    font-weight: bold;
}
h3, .h3, h4, .h4, h4, .h4, h5, .h5{
    font-size: 1em !important;
    font-weight: bold;
}
.ui-btn {
    font-size: 1em;
}
.ui-page .ui-header .ui-title,
.ui-page .ui-footer .ui-title
{
    font-size: 1.285em;
    letter-spacing: 3px;
}

.ui-page .page-header {
    width: 100%;
    height: 44px;
    z-index: 2;
    position: absolute;
    top:0;
    left:0;
}

.ui-page .ui-content {
    padding: 0;
}

.ui-page.no-footer .ui-content {
    bottom: 0;
}

.generic-wrapper {
    position: absolute;
    width: 100%;
    z-index: 1;
    top: 44px;
    bottom: 48px;
    left: 0;
    overflow: hidden;
}

.scroller {
    position: absolute;
    z-index: 1;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    width: 100%;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    -ms-text-size-adjust: none;
    -o-text-size-adjust: none;
    text-size-adjust: none;
}

.ui-page .page-footer {
    border: 0;
    padding: 0;
    z-index: 2;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 48px;
    opacity: 0.9;
}

.inner-content{
    padding: .5em;
}

.ui-mobile-viewport .ui-datepicker td span,
.ui-mobile-viewport .ui-datepicker a{
    font-size: 14px;
}

.ui-grid-a > .ui-block-a.one
, .ui-grid-a > .ui-block-b.one{
    width: 30%;
}

.ui-grid-a > .ui-block-a.two
, .ui-grid-a > .ui-block-b.two{
    width: 70%;
}
.ui-grid-a > .ui-block-a.full
, .ui-grid-a > .ui-block-b.full{
    width: 100%;
}
#canvas{
    cursor:crosshair ;
    background-color:#fff;
}
.palette-case {
    text-align:center;
    width: 80px;
    margin: 0 3px 0 0;
    float: right;
}
.palette-box {
    float:left;
    padding:8px 3px 5px;
}
.palette {
    border:2px solid #777;
    height:30px;
    width:30px;
}
.red{
    background-color:#c22;
}
.blue{
    background-color:#22c;
}
.green{
    background-color:#2c2;
}
.white{
    background-color:#fff;
}
.black{
    background-color:#000;
    border:2px dashed #fff;
}
.draw{
    z-index: 3;
}

#canvas-content{
    position: absolute;
    left: 0;
    top: 0;
    overflow:hidden;
}
#canvas{
    background-color: transparent;
}
body{
    font-size: 87.5%;
    width:100%;
    height:100%;
    overflow:hidden;
    /* prevent text selection on ui */
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    /* prevent scrolling in windows phone */
    -ms-touch-action: none;
}
/*iPhone 4+ Portrait or Landscape*/
@media screen and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {

    /* some CSS here */

}

/*iPad Portrait or Landscape*/
@media screen and (max-device-width : 768px) and (-webkit-min-device-pixel-ratio: 2) {

    /* some CSS here */

}

/*iPhone 5 Only*/
@media only screen
and (min-device-width: 640px)
and (max-device-width: 1136px)
and (-webkit-min-device-pixel-ratio: 2) {
    /* styles here */

}

/*iPad in portrait & landscape*/
@media only screen
and (min-device-width : 768px){

}

@media all and (max-width:19.6875em )
and (max-device-width : 1024px) {
    /* STYLES GO HERE */

}

/*iPad in landscape*/
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : landscape) {
    /* STYLES GO HERE */

}

/*iPad in portrait*/
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : portrait) {
    /* STYLES GO HERE */
    /*body {
        font-size: 18px;
    }*/
}


